/* ========================= */
/*       INDUSTRIES          */
/* ========================= */

.IndustriesEmploying {
    margin: 1px 20px 20px 20px;
    padding: 0;
  }

.IndustriesEmploying h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.IndustriesEmploying ul {
    padding: 0;
}

.IndustriesEmploying li {
    padding: 5px 0 5px 0;
}

/* CSS Grid Styling (easier than Flexbox to make it look right */

.IndustriesEmployingGrid {
    display: grid;
    grid-template-columns: 64% 12% 12% 12%;
    grid-template-rows: auto;
}

.JobTitles.Data {
    color: rgb(97,144,204);
}

.ColHeading {
    font-weight: 900;
    align-self: center;
}

.Col2,
.Col3,
.Col4 {
    text-align: right;
    padding: 0;
}

/* I couldn't get the borders between each industry to line up correctly */
