/* ================================ */
/*       OCCUPATION SUMMARY         */
/* ================================ */

.OccSummary {
    margin: 1px 20px 20px 20px;
    padding: 0;
}

.OccSummary h5 {
    margin-bottom: 0;
}

.OccSummary h2 {
    margin-bottom: 0;
}

.OccSummary h6:nth-of-type(1) {
    margin-top: 0;
    margin-bottom: 0;
}

.OccSummary h6:nth-of-type(2) {
    margin-top: 0;
}

/* Flexbox styling */

#numBoxes {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
}

ul {
    list-style: none;
    flex-grow: 1;
    padding: 0 40px 20px 40px;
    margin: 0;
}


/* Border between boxes */

#middle {
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: rgb(245, 238, 238);
}

#left,
#right {
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: rgb(245, 238, 238);
}

.green {
    color: rgb(0,184,140);
}