/* =========================== */
/* REGIONAL TREND TABLE        */
/* =========================== */

/* CSS Grid styling */

.wrapper {
    display: grid;
    grid-template-columns: 2% 50% 12% 12% 12% 12%;
    grid-template-rows: auto auto auto auto;
    padding-right: 30px;
    margin: 0 0 0 20px;
}

.ColumnTitle {
    font-weight: 900;
}

.col1>.row1 {
    color: white;
}

.fa-circle {
    color: black;
    grid-row: 2 / 3;
}

.fa-square {
    color: rgb(97,144,204);
    grid-row: 4 / 5;
}

.fa-caret-up {
    color: rgb(190,228,241);
    grid-row: 6 / 7;
}

.col3, .col4, .col5, .col6 {
    text-align: right;
}

/* I couldn't get the text in the rows to center vertically */
.row1,
.row2,
.row3,
.row4 {
    border-bottom: 1px solid rgb(245, 238, 238);
}